<div class="flex items-center justify-center text-boxcontent">
	<div class="flex flex-col rounded p-4 w-full">
		<div class="font-bold text-xl">{{ data.name }}</div>
		<div class="text-sm">{{ "now"|date("l d M Y") }}</div>
		<div class="self-center inline-flex items-center justify-center rounded-lg text-indigo-400 h-48 w-48 flex-wrap">
		    <img src="{{ imagePath }}">
		</div>
		<div class="flex flex-row items-center justify-center">
			<div class="font-medium text-6xl">{{ data.main.temp }}°</div>
			<div class="flex flex-col items-center ml-6">
				<div class="mt-1">
					<span class="text-sm">
						<i class="far fa-long-arrow-up"></i>
					</span>
					<span class="text-sm font-light">{{ data.main.temp_max }}°C</span>
				</div>
				<div>
					<span class="text-sm">
						<i class="far fa-long-arrow-down"></i>
					</span>
					<span class="text-sm font-light">{{ data.main.temp_min }}°C</span>
				</div>
			</div>
		</div>
		<div class="flex flex-row justify-between mt-6">
			<div class="flex flex-col items-center">
				<div class="font-medium text-sm">Wind</div>
				<div class="text-sm font-light">{{ data.wind.speed }}km/h</div>
			</div>
			<div class="flex flex-col items-center">
				<div class="font-medium text-sm">Humidity</div>
				<div class="text-sm font-light">{{ data.main.humidity }}%</div>
			</div>
			<div class="flex flex-col items-center">
				<div class="font-medium text-sm">Visibility</div>
				<div class="text-sm font-light">{{ data.visibility/1000 }}km</div>
			</div>
		</div>
	</div>
</div>
