<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>	
    <link rel="stylesheet" href="/res/css/main.css?cache={{ cache }}">
    <script defer src="/res/js/browser.js?cache={{ cache }}"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?cache={{ cache }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?cache={{ cache }}">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?cache={{ cache }}">
    <link rel="manifest" href="/site.webmanifest?cache={{ cache }}">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?cache={{ cache }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ff0000">
</head>